.banner img {
    height: 369px;
    width: 100%;
    object-fit: cover;
}
.section-buy-medicine {
    .item {
        text-align: center;
        padding: 0 16px;
    }
    .title-sub {
        color: $blue;
        font-size: 32px;
        font-weight: 500;
    }
}
