.top-header {
    background: #ebf5fb;
    font-size: 13px;
    color: $gray;
    .info {
        color: #333333;
    }
    .question a {
        color: $gray;
    }
    i {
        margin-right: 8px;
    }
}
.top-header-hotline {
    padding-right: 14px;
    border-right: 1px solid $gray;
}
.top-header-email {
    padding-left: 14px;
}
.header-logo {
    flex: 1;
    img {
        width: 70px;
        height: 69px;
        object-fit: contain;
    }
    .body {
        margin-left: 13px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .name {
        font-weight: 900;
        color: $blue;
        font-size: 18px;
    }
    .slogan {
        font-size: 12px;
        color: #4a4a4a;
        font-style: italic;
    }
}
.header-search {
    background: #ffffff;
    border: 1px solid #949494;
    box-sizing: border-box;
    border-radius: 5px;
    #catalog {
        border: none;
        padding: 12px 16px;
        height: 100%;
        width: 150px;
        font-size: 14px;
        color: #444444;
        font-weight: bold;
        border-right: 0.25px solid #949494;
    }
    input {
        border: none;
        width: 54%;
    }
    button {
        background: $background-gradient;
        border: none;
        height: 100%;
        padding: 10px;
    }
}
