.top-header {
    background: #ebf5fb;
    font-size: 13px;
    color: $gray;
    .info 
        color: #333333;
    }
    .question a {
        color: $gray;
    }
}
.top-header-hotline {
    padding-right: 14px;
    border-right: 1px solid $gray;
}
.top-header-email {
    padding-left: 14px;
}
