@media screen and (max-width: 1100px) {
    .header-search {
        #catalog {
            width: 100px;
        }
    }
    .contact-form input {
        width: 350px;
    }
}
@media screen and(max-width:1024px) {
    .header-btn {
        padding: 8px 20px;
    }
    .header-search {
        input {
            width: 220px;
        }
    }
    .contact-form input {
        width: 300px;
    }
}
@media screen and(max-width:768px) {
    .banner img {
        height: 195px;
    }
    .top-header {
        display: none;
    }
    .header-menu {
        position: fixed;
        top: 0;
        z-index: 99;
        height: 100vh;
        overflow-y: auto;
        transform: translateX(-200%);
        transition: 0.3s all ease-in;
        &.active {
            transform: translateX(0);
        }
    }
    .menu-list {
        display: block;
        width: 300px;
        .menu-item {
            line-height: 40px;
            i:first-child {
                position: relative;
            }
            i {
                position: absolute;
                top: 0;
                right: 0;
                line-height: 40px;
            }
        }
    }
    .menu-item.active .sub-menu {
        display: block;
    }
    .sub-menu {
        position: relative;
        visibility: inherit;
        display: none;
        background: none;
        a {
            color: $white;
        }
    }
    .header-bar {
        display: block;
    }
    .section-title {
        font-size: 28px;
    }
    .section-buy-medicine {
        padding: 30px 0;
        .title-sub {
            font-size: 24px;
        }
        .name {
            font-size: 16px;
            height: 48px;
        }
        .btn {
            margin-top: 20px;
            font-size: 16px;
            padding: 8px 40px;
        }
    }
    .bg-light-blue {
        padding: 0 10px;
    }
    .product-img img {
        height: 200px;
    }
    .contact {
        margin: 0;
        .title {
            font-size: 28px;
        }
    }
    .contact-form {
        input {
            width: 267px;
            margin-right: 10px;
            height: 50px;
            padding: 0 20px;
        }
        button {
            width: 150px;
            height: 50px;
        }
    }
}

@media screen and(max-width:576px) {
    .section-title {
        font-size: 20px;
    }
    .header-logo img {
        width: 50px;
        height: 50px;
    }
    .logo-name {
        font-size: 14px;
    }
    .logo-slogan {
        font-size: 11px;
    }
    .banner img {
        height: 100px;
    }
    .section-buy-medicine {
        .name {
            height: auto;
        }
        .btn {
            margin-top: 10px;
            font-size: 14px;
            padding: 5px 30px;
        }
    }
    .product-info {
        padding-top: 10px;
        .name {
            height: 40px;
        }
    }
}
